/*Bars*/

rect{
	fill:#95a5a6;
}

.hovered{
	fill:#9b59b6;

	-webkit-transition: all 0.3s ease-out; /*compatibilité chrome*/
   -moz-transition: all 0.3s ease-out; /*compatibilité firefox*/
   -o-transition: all 0.3s ease-out; /*compatibilité opéra*/
   transition: all 0.3s ease-out; 
}

.tooltipVals text{
	fill: #2c3e50;
}

.barAxis{
	stroke:  #2c3e50 ;
	stroke-width: 1;
	shape-rendering: crispEdges;
}



/*End Bars*/

/*Lines*/
.line {
	stroke: steelblue;
	stroke-width: 1.5px;
	fill: none;
}

.axis path,
.axis line,
.axis {
	fill: none;
	stroke: #6e6e6e;
	shape-rendering: crispEdges;
}
/*End Lines*/

/*Donut*/

.arc path {
	stroke: #fff;
}

.slice-0{
	fill:#27ae60;
}

.slice-1{
	fill:#2980b9;
}

.slice-2{
	fill:#8e44ad;
}

/*End Donut*/