/*.dark rect{
	fill:#2c3e50;
}
.dark .red {
	fill:red;
}

.flash rect{
	fill:#2ecc71;
}*/

.donutSad .slice-0{
	fill:#27ae60;
}

.donutSad .slice-1{
	fill:#2980b9;
}

.donutSad .slice-2{
	fill:#8e44ad;
}



.donutCool .slice-0{
	fill:#2c3e50;
}

.donutCool .slice-1{
	fill:#95a5a6;
}

.donutCool .slice-2{
	fill:#7f8c8d;
}